.Home{
    background-image: url("https://getwallpapers.com/wallpaper/full/0/8/c/1160141-tech-hd-wallpapers-1920x1080-for-android.jpg");
    height: 750px;
    width: auto;
}
.p{
    margin-top:px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.nav h1
{

   
    text-align: center;
    color: rgb(68, 0, 255);
}
.ipt input{
    width: 700px;
}
.p h1
{
    text size: 100px; ;
}